<div class="nav-menu fixed-top lp-bg-menu pr-0 mt-5" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav
                    class="navbar navbar-expand-xl navbar-light bg-faded navbar-expand-xl navbar-space mobile-navbar-w100">
                    <div>
                        <a class="logo-width" href="index.html">
                            <img src="/img/CIB_doXiview.svg" height="38" width="204" class="img-fluid"
                                alt="CIB doXigate">
                        </a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon navbar-toggleable-md"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active hr">
                                <a class="nav-link lp-menu-text" href="#Vorteile">Vorteile
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item hr">
                                <a class="nav-link lp-menu-text" href="#Preise">Preise</a>
                            </li>
                            <li class="nav-item hr">
                                <a class="nav-link lp-menu-text" href="#FAQ">FAQ</a>
                            </li>
                            <li class="nav-item hr">
                                <a class="nav-link lp-menu-text" href="#News">News</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>