<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
		<img src="/img/CIB_Logo.svg" alt="CIB" class="br0 db mb0 w-60"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="#InnovativSozialÖkologisch" class="pa3 no-underline db">Über Uns</a></li>

		<li><a href="/values" class="pa3 no-underline db">Berater</a></li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Produkte 
			</a>
			<div class="dropdown-menu" style="left: -170px;" aria-labelledby="navbarDropdownMenuLink">
				{{ range $.Site.Home.AllTranslations }}
            	<a class="dropdown-item" href="{{ .Permalink }}">CIB doXiview</a>
			{{ end }}
		
			</div>
		</li>

		<li><a href="/post" class="pa3 no-underline db">CIB Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Kontakt</a></li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img class="btn-cursor" src="/img/Language.svg" height="auto" width="20"
					alt="Language">
			</a>
			<div class="dropdown-menu" style="left: -170px;" aria-labelledby="navbarDropdownMenuLink">
				{{ range $.Site.Home.AllTranslations }}
            	<a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end }}
			</div>
		</li>

	</ul>

</nav>
