<!-- CIB doXisign -->

<div class="container section text-center" id="InnovativSozialÖkologisch">
  <h2 class="jumbotron-heading section-title">{{.heading}}</h2>
  <div class="row">

      <div class="col-lg-4">
          <img class="" src="{{ .image }}" width="220" height="220">
          <h3>{{.text}}</h3>
      </div>
      <div class="col-lg-4">
          <img class="" src="{{ .image }}" width="220" height="220">
          <h3>{{.text}}</h3>
      </div>
      <div class="col-lg-4">
          <img class="" src="{{ .image }}" width="220" height="220">
          <h3>{{.text}}</h3>
      </div>

  </div>
</div>

