{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb (dict "image" .Params.image)}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values" "image" .Params.values.image) }}

{{ partial "text-and-image" (dict "heading" .Params.testvalues.heading "text" .Params.testvalues.text "buttonText" "Read more" "buttonLink" "/testvalues" "image" .Params.testvalues.image) }}

{{ partial "blog" . }}

{{ end }}
